################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/bin
/.vs
/build
/T_Core/vender/*
!**/*.gitkeep
/Dependence/*
**/obj
**.filters
**.user
**.vcxproj
**.sln
**.ini
.claude/
doc/
readme/
res/texture/
/imgui.ini